@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-layouts/styles/material.css";

#container {
    margin: 0 auto;
    width: 500px;
}

.e-panel-content {
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  font-size: 20px;
}
